:root {
  --blue-color: #1d3557;
  --red-color: #e63946;
  --white-color: #ffffff;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}
.card-header h3{
  text-align: center;
  text-transform: uppercase;
  color: red;
}
#email-Error{
  color: red;
}

/* The message box is shown when the user clicks on the password field */
#messages {
  display:none;
  background: #f1f1f1;
  color: #000;
  padding: 20px;
  margin-top: 10px;
}

/* #messages p {
  padding: 10px 35px;
  font-size: 18px;
} */

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  /* position: relative; */
  /* left: -35px; */
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  /* position: relative; */
  /* left: -35px; */
  content: "✖";
}