:root {
  --blue-color: #1d3557;
  --red-color: #e63946;
  --white-color: #ffffff;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}
.card-header h3{
  text-align: center;
  text-transform: uppercase;
  color: red;
}
#email-Error{
  color: red;
}