<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDO lists</title>
</head>
<body>
  <h1>Home Page</h1>
  <!-- {% if request.user.is_authenticated %} -->
  
  <form action="{% url 'todolist:addtodolist' %}" method="POST">
  <h3 class="text-center mt-5">Hello{{user.name}}</h3>
  {% csrf_token %}
  <h1>Add your lists</h1>
  {{todoform.as_p}}
  <input type="submit" value="ADD">

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert" id="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- List items -->
  <div class="container">
    {% if todolist %}
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Lists</th>
          <th>Status</th>
          <th>Date Created</th>
        </tr>
      </thead>
      {% for todos in todolist %}
      <tbody>
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{todos.todo}}</td>
            <td>{{todos.status}}</td>
            <td>{{todos.created_date}}</td>
          </tr>
        </tbody>

      </table>
    
      {% endfor %}
    {% else %}
      <p>You have no todolists</p>
    {% endif %}
    <!-- <p>{{todolist}}</p> -->
  </div>

  </form>
  <!-- {% else %} -->
  <!-- <h3>You are not authenticated to view this page</h3> -->
  <!-- {% endif %} -->
</body>
</html>