<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDO lists</title>
</head>
<body>
  <h1>Home Page</h1>
  {% if request.user.is_authenticated %}
  <h3 class="text-center mt-5">Hello{{user.name}}</h3>


  <form action="{% url 'todolist:addtodolist' %}" method="POST">
  {% csrf_token %}
  <h1>Add your lists</h1>
  {{todoform.as_p}}




  </form>
  {% else %}
  <h3>You are not authenticated to view this page</h3>
  {% endif %}
</body>
</html>